body {
    margin: 0;
    background-color: #C0D0EF;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.w3-sidebar{
    position: relative;
    background-color: #304A6E;
    left: 0%;
    width: 15%;
}
.w3-container{
    position: relative;
    background-color: #C0D0EF;
    height: 100%;
    padding: 0;
    margin-left:15%; 
    width: 90%;
}
html{
    background-color: #C0D0EF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #304A6E;
    position: fixed;
    height: 100%;
    overflow: auto;
}
li a {
    display: block;
    color: #dfdfdf;
    padding: 0.45vw 0.9vw;
    text-decoration: none;
    text-align: center;
    font-size: large;
}
  
li a.active {
    color: white;
    justify-content: center;
}
.logo_contain img{
    position: relative;
    width: 100%;
    height: 60%;
    top: 25%;
    left: 0%;
    margin-bottom: 5%;
}
.logo_contain{
  background-color: #304A6E;
}
li a:hover:not(.active) {
    color: white;
    text-decoration: none;
}
.nav-items{
    display: flex; 
    width: 100%;
    margin: 0;
    /* margin-left: 20%; */
    /* margin-right: 10%; */
    margin-bottom: 5%;
    margin-right: 1vw; 
    margin-left: -0.3vw;
}
.nav-items a{
    font-size: 1.5vw;
}
.nav-items img{
    width: 2vw;
    height: 2vw;
    margin-right: 1.5vw;
    margin-bottom: 0.5vw;
}
.header{
    display: flex; 
    width: 85%;
    margin-top: 0%; 
    position: relative;
}
.search{
    width: 70%;
    position: relative;
    top: 5.5vw;
    left: 7vw;
}
.search .form-control{
    margin: 0;
}
.header .search button{
    color: black;
    background-color: #668DC0;
}
.header input{
    position: relative;
    width: 40%;
    margin: 1% 0% 1% 0%;
    /* left: 15%; */
    float: left;
    background-color: #dfdfdf;
}
.project-title{
    position: relative;
    top: -3%;
    left: 5.9%;
    width: 30%;
}
.project-title h1{
    font-size: 2.45vw;
}
.profile{
    background-color: transparent; 
    border: none;
    top: 1.8%; 
    right: 3%; 
    position: fixed; 
    display: flex;
}
.profile-img{
    border-radius: 50%;
    margin-right: 1vw;
    background-color:rgb(68, 162, 149);
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: 1.6vw;
    width: 2.5vw;
    height: 2.5vw;
    margin-top: 5%;
}
.profile-user{
    font-size: large; margin: 0;
}
.profile-email{
    font-size: medium; margin: 0;
}
.profile-content{
    margin-left: 2%;
}
/* .dropdown{ */
    /* margin-right: 35%; */
    /* position: fixed; */
    /* left: 60%; */
/* } */
.functional-btn{
    top: 0vw;
    width: 20%;
    display: flex;
    position: relative;
    left: 63vw;
}
#dropdownMenuButton{
    background-color: #668DC0;
    color: black;
    width: 5vw;
    font-size: 1vw;
}
#share-btn{
    margin-left: 1%;
    background-color: #668DC0;
    color: black;
    font-size: 1vw;
}
#share-btn img{
    width: 1.2vw;
    height: 1.2vw;
}
.status{
    width: 100%;
}
.notify-btn{
    background-color: transparent; 
    border: none; 
    right: 15%; 
    top: 3.2%;
    position: fixed;
}
.notify-btn svg{
    transition: 0.3s;
    height: 2em;
}
.notify-btn:hover svg{
    transform: scale(1.2);
}
.edit-btn{
    margin: 0;
    padding: 0;;
    background-color: transparent;
    border: none;
}
.edit-btn img{
    transition: 0.3s;
}
.edit-btn:hover img{
    transform: scale(1.2);
}
.delete-btn{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}
.delete-btn img{
    transition: 0.3s;
}
.delete-btn:hover img{
    transform: scale(1.2);
}

.popup-notify{
    position: absolute;
    width: 40vw;
    height: auto;
    background-color: white;
    border: solid black 0.5px;
    top: 0%;
    transform: translate(-50%, -50%) scale(0.1);
    left: 50%;
    z-index: 10;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
}
.open-notify{
    visibility: visible;
    top: 30%;
    transform: translate(-50%, -50%) scale(1);
}
.popup-head{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    display: flex;
    border-bottom: solid black 0.5px;
    margin-left: 5%;
}

.popup-head img{
    width: 2vw;
    height: 2vw;
    /* margin-right: 50%; */
}

.popup-head button{
    background-color: transparent;    
    border: black solid 1px;    
    width: 2vw;
    height: 2vw;
    /* margin-left: 50%; */
    position: absolute;
    left: 90%;
}

.popup-body{
    width: 80%;
    height: auto;
    margin-left: 5%;
}

.popup-body .notify-content{
    display: flex;
    border-bottom: gray solid 0.3px;
    margin-bottom: 2%;
}

.popup-body .notify-content .notify-img{
    border-radius: 50%;
    background-color: rgb(68, 162, 149);
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: large;
    width: 1.8vw;
    height: 1.8vw;
    margin-bottom: 0.5vw;
    margin-right: 1%;
}

.popup-share{
    position: absolute;
    width: 45vw;
    height: 10vw;
    background-color: white;
    border: solid black 0.5px;
    top: 40%;
    transform: translate(-50%, -50%) scale(0.1);
    left: 0%;
    z-index: 20;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
}

.open-share{
    visibility: visible;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup-share form input[type=text]{
    position: relative;
    left: 5%;
    width: 77%;
    margin: 0;
    font-size: medium;
    padding: 4% 0 1% 2%;
    background-color: #F5F5F5;
    color: #5e6269;
    border: none;
    border-bottom: 1px solid #4f6480;
    /* font-size: 1.5vw; */
}
.header input{
    position: relative;
    width: 40%;
    margin: 1% 0% 1% 0%;
    /* left: 15%; */
    float: left;
}

.popup-share form label{
    position: absolute;
    left: 5%;
    margin: 0;
    padding: 0;
    font-size: large;
}

#invite-btn{
    background-color: transparent;
    border: 0;
    position: absolute;
    left: 85%;
    top: 45%;
}
#invite-btn img:hover{
    transform: scale(1.1);
    transition: 200ms;
}

.bucket-parent{
    display: flex;
    position: absolute;
    top: 20%;
    left: 10vw;
    width: 80%;
    height: 80%;
    /* background-color: #1F9254; */
}

.bucket-parent .bucket-child{
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    width: 10%;
    height: 90%;
    background-color: #EFEFEF;
    margin-left: 3%;
    margin-top: 1%;
    border-radius: 5%;
    flex: 1;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
}
.vector-icon {
    position: absolute;
    margin: 0 !important;
    width: 100%;
    top: 10%;
    /* right: 6.53%; */
    /* left: 6.64%; */
    /* max-width: 100%; */
    overflow: hidden;
    height: 0.6%;
    z-index: 1;
}
.bucket-header {
    position: relative;
    margin: 0 !important;
    top: 3%;
    left: 10%;
    width: 100%;
    height: 0.5%;
    z-index: 2;
}
.bucket-title {
    position: absolute;
    top: 0;
    left: 8%;
    font-weight: 100;
    display: inline-block;
    width: 80%;
    height: 0.5%;
}
.group-item {
    position: relative;
    top: 0.25vw;
    left: 0;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
}
#todo-item{
    background-color: #5030e5;
}
#progress-item{
    background-color: orange;
}
#done-item{
    background-color: #76a5ea;
}
#due-item{
    background-color: #eb433d;
}
.vuesaxbulkadd-square-icon {
    position: absolute;
    margin: 0 !important;
    top: 20px;
    right: 13.93px;
    width: 24px;
    height: 24px;
    z-index: 4;
}
.task-list{
    position: absolute;
    /* background-color: white; */
    width: 90%;
    height: auto;
    top: 15%;
    left: 5%;
}
.task-list .task{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

.task-list .task .task-name{
    margin: 0;
    width: 80%;
    margin-left: 10%;
    border-bottom: solid black 0.5px;
}
.task-list .task .info{
    display: flex;
}
.task-list .task .info .due-date{
    margin: 0;
    margin-left: 10%;
}
#assignee{
    position: relative;
    width: 20px;
    height: 20px;
    left: 60%;
    font-size: small;
    top: 50%;
    margin-top: 2px;
}

@media screen and (max-width: 320px){
    .w3-sidebar{
        width: 100vw;
        height: 8vh;
    }
    .logo_contain img{
        width: 40vw;
        top: 2vw;
        left: 30vw;
    }
    .w3-sidebar ul{
        display: none;
    }
    .w3-container{
        width: 100%;
        margin-left: 0%;
    }
    .w3-container .project-title{
        width: 50%;
        top: 4%;
        left: 0%;
    }
    .w3-container .project-title h1{
        font-size: 3vh;
    }
    .w3-container .functional-btn{
        top: 5vh;
        left: 55vw;
    }
    #dropdownMenuButton{
        background-color: #668DC0;
        color: black;
        width: 10vh;
        font-size: 2vh;
    }
    #share-btn{
        margin-left: 1%;
        width: 10vh;
        background-color: #668DC0;
        color: black;
        font-size: 2vh;
    }
    #share-btn img{
        display: none;
    }
    .dropdown-item{
        width: 0.5vh;
        font-size: 2vh;
    }
    .w3-container .notify-btn{
        top: 8.5vh;
        right: 15vw;
    }
    .w3-container .profile{
        top: 9vh;
    }
    .w3-container .profile .profile-img{
        width: 4vh;
        height: 4vh;
        font-size: 2.5vh;
    }
    .w3-container .profile .profile-content{
        display: none;
    }
    .search{
        top: 15vh;
        left: 2vw;
    }
    .bucket-parent{
        display: grid;
        top: 24vh;
    }
    .bucket-parent .bucket-child{
        width: 90%;
    }
    .bucket-parent .bucket-child .vector-icon{
        top: 18%;
        height: 1vh;
    }
    .bucket-parent .bucket-child .bucket-header .bucket-title{
        top: -0.3vh;
    }
    .bucket-parent .bucket-child .bucket-header .group-item{
        width: 2.5vh;
        height: 2.5vh;
        top: 0.3vh;
        left: -1vh;
    }
    .bucket-parent .bucket-child .task-list{
        top: 25%;
    }

    .w3-container .popup-notify{
        width: 40vh;
    }
    .popup-head img{
        width: 4vh;
        height: 4vh;
    }
    
    .popup-head button{  
        border: black solid 1px;    
        width: 3vh;
        height: 3vh;
        /* margin-left: 50%; */
        position: absolute;
        top: 2vw;
    }
    .popup-head button a{
        position: relative;
        bottom: 0.5vh;
        right: 0.2vh;
    }
    .popup-body{
        width: 80%;
        height: auto;
        margin-left: 5%;
    }
    
    .popup-body .notify-content{
        display: flex;
        border-bottom: gray solid 0.3px;
        margin-bottom: 2%;
    }
    
    .popup-body .notify-content .notify-img{
        display: none;
    }

    .popup-share{
        width: 80%;
        height: 15vh;
    }
}

@media screen and (min-width: 321px) and (max-width: 426px){
    .w3-sidebar{
        width: 100vw;
        height: 8vh;
    }
    .logo_contain img{
        width: 40vw;
        top: 2vw;
        left: 30vw;
    }
    .w3-sidebar ul{
        display: none;
    }
    .w3-container{
        width: 100%;
        margin-left: 0%;
    }
    .w3-container .project-title{
        width: 50%;
        top: 4%;
        left: 0%;
    }
    .w3-container .project-title h1{
        font-size: 3vh;
    }
    .w3-container .functional-btn{
        top: 5vh;
        left: 55vw;
    }
    #dropdownMenuButton{
        background-color: #668DC0;
        color: black;
        width: 10vh;
        font-size: 2vh;
    }
    #share-btn{
        margin-left: 1%;
        width: 10vh;
        background-color: #668DC0;
        color: black;
        font-size: 2vh;
    }
    #share-btn img{
        display: none;
    }
    .dropdown-item{
        width: 0.5vh;
        font-size: 2vh;
    }
    .w3-container .notify-btn{
        top: 8.5vh;
        right: 15vw;
    }
    .w3-container .profile{
        top: 9vh;
    }
    .w3-container .profile .profile-img{
        width: 4vh;
        height: 4vh;
        font-size: 2.5vh;
    }
    .w3-container .profile .profile-content{
        display: none;
    }
    .search{
        top: 15vh;
        left: 2vw;
    }
    .bucket-parent{
        display: grid;
        top: 24vh;
    }
    .bucket-parent .bucket-child{
        width: 90%;
    }
    .bucket-parent .bucket-child .vector-icon{
        top: 18%;
        height: 1vh;
    }
    .bucket-parent .bucket-child .bucket-header .bucket-title{
        top: -0.3vh;
    }
    .bucket-parent .bucket-child .bucket-header .group-item{
        width: 2.5vh;
        height: 2.5vh;
        top: 0.3vh;
        left: -1vh;
    }
    .bucket-parent .bucket-child .task-list{
        top: 25%;
    }

    .w3-container .popup-notify{
        width: 40vh;
    }
    .popup-head img{
        width: 4vh;
        height: 4vh;
    }
    
    .popup-head button{  
        border: black solid 1px;    
        width: 3vh;
        height: 3vh;
        /* margin-left: 50%; */
        position: absolute;
        top: 2vw;
    }
    .popup-head button a{
        position: relative;
        bottom: 0.5vh;
        right: 0.2vh;
    }
    .popup-body{
        width: 80%;
        height: auto;
        margin-left: 5%;
    }
    
    .popup-body .notify-content{
        display: flex;
        border-bottom: gray solid 0.3px;
        margin-bottom: 2%;
    }
    
    .popup-body .notify-content .notify-img{
        display: none;
    }

    .popup-share{
        width: 80%;
        height: 15vh;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px){
    .w3-sidebar{
        width: 100vw;
        height: 8vh;
    }
    .logo_contain img{
        width: 40vw;
        top: 2vw;
        left: 30vw;
    }
    .w3-sidebar ul{
        display: none;
    }
    .w3-container{
        width: 100%;
        margin-left: 0%;
    }
    .w3-container .project-title{
        width: 50%;
        top: 4%;
        left: 0%;
    }
    .w3-container .project-title h1{
        font-size: 3vh;
    }
    .w3-container .functional-btn{
        top: 5vh;
        left: 55vw;
    }
    #dropdownMenuButton{
        background-color: #668DC0;
        color: black;
        width: 10vh;
        font-size: 2vh;
    }
    #share-btn{
        margin-left: 1%;
        width: 10vh;
        background-color: #668DC0;
        color: black;
        font-size: 2vh;
    }
    #share-btn img{
        display: none;
    }
    .dropdown-item{
        width: 0.5vh;
        font-size: 2vh;
    }
    .w3-container .notify-btn{
        top: 8.5vh;
        right: 15vw;
    }
    .w3-container .profile{
        top: 9vh;
    }
    .w3-container .profile .profile-img{
        width: 4vh;
        height: 4vh;
        font-size: 2.5vh;
    }
    .w3-container .profile .profile-content{
        display: none;
    }
    .search{
        top: 15vh;
        left: 2vw;
    }
    .bucket-parent{
        display: grid;
        top: 24vh;
    }
    .bucket-parent .bucket-child{
        width: 90%;
    }
    .bucket-parent .bucket-child .vector-icon{
        top: 18%;
        height: 1vh;
    }
    .bucket-parent .bucket-child .bucket-header .bucket-title{
        top: -0.3vh;
    }
    .bucket-parent .bucket-child .bucket-header .group-item{
        width: 2.5vh;
        height: 2.5vh;
        top: 0.3vh;
        left: -1vh;
    }
    .bucket-parent .bucket-child .task-list{
        top: 25%;
    }

    .w3-container .popup-notify{
        width: 40vh;
    }
    .popup-head img{
        width: 4vh;
        height: 4vh;
    }
    
    .popup-head button{  
        border: black solid 1px;    
        width: 3vh;
        height: 3vh;
        /* margin-left: 50%; */
        position: absolute;
        top: 2vw;
    }
    .popup-head button a{
        position: relative;
        bottom: 0.5vh;
        right: 0.2vh;
    }
    .popup-body{
        width: 80%;
        height: auto;
        margin-left: 5%;
    }
    
    .popup-body .notify-content{
        display: flex;
        border-bottom: gray solid 0.3px;
        margin-bottom: 2%;
    }
    
    .popup-body .notify-content .notify-img{
        display: none;
    }

    .popup-share{
        width: 80%;
        height: 15vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .w3-sidebar{
        width: 100vw;
        height: 8vh;
    }
    .logo_contain img{
        width: 40vw;
        top: 1vw;
        left: 30vw;
        margin: 0;
    }
    .w3-sidebar ul{
        display: none;
    }
    .w3-container{
        top: 9vh;
        width: 100%;
        margin-left: 0%;
    }
    .w3-container .project-title{
        width: 50%;
        top: -4%;
        left: 2%;
    }
    .w3-container .project-title h1{
        font-size: 4vh;
    }
    .w3-container .functional-btn{
        top: -3vh;
        left: 54vw;
    }
    #dropdownMenuButton{
        background-color: #668DC0;
        color: black;
        width: 10vh;
        font-size: 2vh;
    }
    #share-btn{
        margin-left: 1%;
        width: 10vh;
        background-color: #668DC0;
        color: black;
        font-size: 2vh;
    }
    #share-btn img{
        width: 2vh;
        height: 2vh;
    }
    .dropdown-item{
        width: 0.5vh;
        font-size: 2vh;
    }
    .w3-container .notify-btn{
        top: 15vh;
        right: 3vw;
    }
    .notify-btn svg{
        transition: 0.3s;
        height: 3em;
    }
    .w3-container .profile{
        top: 9vh;
    }
    .w3-container .profile .profile-img{
        width: 4vh;
        height: 4vh;
        font-size: 2.5vh;
        margin-right: 0vw;
    }
    .w3-container .profile .profile-content{
        display: none;
    }
    .search{
        top: 6.4vh;
        left: 5vw;
    }
    .search .form-control{
        width: 30vw;
        font-size: 2vh;
    }
    .search button{
        font-size: 2vh;
    }
    .bucket-parent{
        display: grid;
        top: 12vh;
        left: 14vw;
    }
    .bucket-parent .bucket-child{
        width: 90%;
    }
    .bucket-parent .bucket-child .vector-icon{
        top: 18%;
        height: 1vh;
    }
    .bucket-parent .bucket-child .bucket-header .bucket-title{
        top: -0.3vh;
        font-size: 2.5vh;
    }
    .bucket-parent .bucket-child .bucket-header .group-item{
        width: 2.5vh;
        height: 2.5vh;
        top: 0.5vh;
        left: -1vh;
    }
    .bucket-parent .bucket-child .task-list{
        top: 25%;
        font-size: 2vh;
    }
    #assignee{
        font-size: 1.5vh;
        top: 0.15vh;
        width: 2.5vh;
        height: 2.5vh;
    }
    .w3-container .popup-notify{
        width: 40vh;
    }
    .popup-head img{
        width: 4vh;
        height: 4vh;
    }
    
    .popup-head button{  
        border: black solid 1px;    
        width: 3vh;
        height: 3vh;
        /* margin-left: 50%; */
        position: absolute;
        top: 2vw;
    }
    .popup-head button a{
        position: relative;
        bottom: 0.5vh;
        right: 0.2vh;
    }
    .popup-body{
        width: 80%;
        height: auto;
        margin-left: 5%;
    }
    
    .popup-body .notify-content{
        display: flex;
        border-bottom: gray solid 0.3px;
        margin-bottom: 2%;
    }
    
    .popup-body .notify-content .notify-img{
        display: none;
    }

    .popup-share{
        width: 80%;
        height: 15vh;
    }
}