<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/home_style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css">
  <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
  <!-- Navigation Bar -->
  <div class="w3-sidebar">
    <a class="active" href="/src/views/project.ejs">
      <div class="logo_contain">
        <img src="/img/combine_logo.png" alt="logo">
      </div>
    </a>
    <ul>
      <li>
        <div class="nav-items">
          <a href="/"><img src="/img/icons8-dashboard-layout-48.png" alt="" class="nav-img"
              width="32px" height="32px">Home</a>
        </div>
      </li>
      <li>
        <div class="nav-items">
          <a href="/projects/project/members"><img src="/img/icons8-member-48.png" alt="" class="nav-img" width="32px"
              height="32px">Member</a>
        </div>
      </li>
      <li>
        <div class="nav-items">

          <a href="/projects/tasks"><img src="/img/icons8-task-50.png" alt="" class="nav-img" width="32px"
              height="32px">Task</a>
        </div>
      </li>
      <li>
        <div class="nav-items">
          <a href="/projects/project/calendar"><img src="/img/icons8-calendar-64.png" alt="" class="nav-img" width="32px"
              height="32px">Calendar</a>
        </div>
      </li>
      <li>
        <div class="nav-items">
          <a href="#setting"><img src="/img/icons8-settings-64.png" alt="" class="nav-img" width="32px"
              height="32px">Setting</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="w3-container">
    <!-- pop up -->
    <div class="popup-notify" id="notify">
      <div class="popup-head">
        <h3 class="popup-title">Notification</h3>
        <img src="/img/Notification-button.png" alt="">
        <button onclick="closeNotify()">X</button>
      </div>
      <div class="popup-body">
        <div class="notify-content">
          <div class="notify-img">U</div>(Task remind) Due date: 11/1/2024
        </div>
        <div class="notify-content">
          <div class="notify-img">U</div>(Event) Weekly Meeting: 12/1/2024
        </div>
      </div>
    </div>

    <div class="popup-share" id="share">
      <div class="popup-head">
        <h3 class="popup-title">Invite new member</h3>
        <button onclick="closePopupShare()">X</button>
      </div>
      <form class="invitation-info" action="">
        <label for="invitation">Invite Some Friends</label>
        <input type="text" name="invitation" placeholder="link">
        <button id="invite-btn"><img src="/img/icons8-copy-24.png" alt=""></button>
      </form>
    </div>

    <!-- Project Name -->
    <div class="header">
      <div class="search">
        <input class="form-control" type="text" placeholder="Search any thing...">
        <button type="button" class="btn btn-primary" data-mdb-ripple-init>
          Search
        </button>
      </div>


      <!-- notify button -->
      <button class="notify-btn" onclick="openNotify()">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
          viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z" />
        </svg>
      </button>
      <div class="profile">
        <div class="profile-img">U</div>
        <div class="profile-content">
          <p class="profile-user">
            <%= user.username %>
          </p>
          <p class="profile-email">
            <%= user.email %>
          </p>
        </div>
      </div>
    </div>


    <!-- Main -->
    <div class="project-title">
      <h1>
        <%= project.name %>
      </h1>
    </div>
    <!-- buttons -->
    <!-- Filter Button -->
    <div class="functional-btn">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
          Filter
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Today</a>
          <a class="dropdown-item" href="#">This Week</a>
          <a class="dropdown-item" href="#">Late</a>
        </div>
      </div>

      <button type="button" class="btn btn-secondary btn-sm" id="share-btn" onclick="openPopupShare()"><img
          src="/img/icons8-member-30.png" alt="" width="24px" height="24px"> Share</button>
    </div>
    <!-- buckets -->
    <div class="bucket-parent">
      <div class="bucket-child">


        <div class="bucket-header">
          <div class="bucket-title">To Do</div>
          <div class="group-item" id="todo-item"></div>
        </div>
        <img class="vector-icon" alt="" src="/img/vector-11.svg" />
        <div class="task-list">
          <div class="task" draggable="true">
            <p class="task-name">Task 4</p>
            <div class="info">
              <p class="due-date">12/1</p>
              <div class="profile-img" id="assignee">U</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bucket-child">


        <div class="bucket-header">
          <div class="bucket-title">
            <p>In progress</p>
          </div>
          <div class="group-item" id="progress-item"></div>
        </div>
        <img class="vector-icon" alt="" src="/img/vector-12.svg" />
        <div class="task-list">
          <div class="task" draggable="true">
            <p class="task-name">Task 2</p>
            <div class="info">
              <p class="due-date">8/1</p>
              <div class="profile-img" id="assignee">U</div>
            </div>
          </div>
          <div class="task" draggable="true">
            <p class="task-name">Task 3</p>
            <div class="info">
              <p class="due-date">8/1</p>
              <div class="profile-img" id="assignee">U</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bucket-child">


        <div class="bucket-header">
          <div class="bucket-title">Done</div>
          <div class="group-item" id="done-item"></div>
        </div>
        <img class="vector-icon" alt="" src="/img/vector-13.svg" />
        <div class="task-list">
          <div class="task" draggable="true">
            <p class="task-name">Task 1</p>
            <div class="info">
              <p class="due-date">4/1</p>
              <div class="profile-img" id="assignee">U</div>
            </div>
          </div>
        </div>
        <!-- <img
            class="vuesaxbulkadd-square-icon"
            alt=""
            src="//img/vuesaxbulkaddsquare.svg"
          /> -->
      </div>
    </div>

  </div>
</body>
<script>
  let popupNotify = document.getElementById("notify");
  let popupShare = document.getElementById("share");
  let currentProjectId;

  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: "/Projects/project/members"+window.location.search,
      contentType: "application/json",
      success: function (res) {
        window.sessionStorage.clear();
        console.log(res.users);
        // res.users.forEach(element => {
        //   //console.log(element);
        //   window.sessionStorage.setItem("project" + element['_id'], JSON.stringify(element));
        // });
      }
    });
  });

  function navigateToHomePage(){
    navigationLinks = document.getElementsByTagName("a");
    for (let i = 0; i < navigationLinks.length; ++i) {
      console.log("I'm here!");
      currentProjectId = window.location.search;
      console.log(currentProjectId);
      navigationLinks[i].addEventListener("click", function (event) {
        event.preventDefault();
        console.log(navigationLinks[i]);
        window.location.href = "/Projects/tasks"+currentProjectId;
      })
    }
  }

  function openNotify() {
    popupNotify.classList.add("open-notify");
  }
  function closeNotify() {
    popupNotify.classList.remove("open-notify");
  }
  function openPopupShare() {
    popupShare.classList.add("open-share");
  }
  function closePopupShare() {
    popupShare.classList.remove("open-share");
  }
  navigateToHomePage();
</script>

</html>