body {
    margin: 0;
    background-color: #C0D0EF;
}
.w3-sidebar{
    background-color: #C0D0EF;
    width: 15%;
}
.w3-container{
    background-color: #C0D0EF;
    height: 100%;
    padding: 0;
    margin-left:15%; 
    width: 100%;
}
html{
    background-color: #C0D0EF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #304A6E;
    position: fixed;
    height: 100%;
    overflow: auto;
}
li a {
    display: block;
    color: #dfdfdf;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: large;
}
  
li a.active {
    color: white;
    justify-content: center;
}
.logo_contain img{
    position: relative;
    width: 100%;
    height: 60%;
    top: 25%;
    left: 0%;
    margin-bottom: 5%;
}
.logo_contain{
  background-color: #304A6E;
}
li a:hover:not(.active) {
    color: white;
    text-decoration: none;
}
.nav-items{
    display: flex; 
    width: auto;
    margin: 0;
    /* margin-left: 20%; */
    /* margin-right: 10%; */
    margin-bottom: 5%;
    margin-right: 10px; 
    margin-left: 20px;
}
.nav-items img{
    left: 0%;
}
.header{
    display: flex; 
    margin-top: 0%; 
    position: relative;
}

.search{
    width: 100%;
    display: flex;
    left: 15%;
    position: absolute;
    justify-content: left;
    align-items: center;
}

.search-btn{
    background-color: #F5F5F5;
    border: solid 1px black;
    float: left;
    height: 50%;
}

.search-btn:hover{
    background-color: #e6e1e1;
    transition: 200ms;
}

.header input{
    position: relative;
    width: 40%;
    margin: 1% 0% 1% 0%;
    /* left: 15%; */
    float: left;
}

.project-title{
    margin-top: 8%;
    margin-left: 3%;
}

.add-task-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: large;
    color: rgb(77, 75, 75);
    left: 18%;
    position: absolute;
}
.add-task-btn:hover{
    color: black;
    text-decoration: underline; 
    transition-duration: 200ms;
}
.profile{
    background-color: transparent; 
    border: none; 
    left: 85%; 
    position: fixed; 
    display: flex;
}
.profile-img{
    border-radius: 50%;
    background-color:rgb(68, 162, 149);
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: x-large;
    width: 36px;
    height: 36px;
    margin-top: 5%;
}
.profile-user{
    font-size: large; margin: 0;
}
.profile-email{
    font-size: medium; margin: 0;
}
.profile-content{
    margin-left: 2%;
}
.dropdown{
    /* margin-right: 35%; */
    position: fixed;
    left: 60%;
}
#scheduler{
    width: 85%; height: 600px; margin-top: 10%; margin-bottom: 1%; left: 15%; position: absolute;
}
#dropdownMenuButton{
    background-color: #668DC0;
    color: black;
    width: 100px;
}
table{
    background-color: white;
}
thead{
    text-align: center;
    background-color: white;
}
tbody{
    text-align: center;
    background-color: white;
}
#Done{
    background-color: #EBF9F1;
    color: #1F9254;
    text-align: center;
}
#In-progress{
    background-color: #FEF2E5;
    color: #CD6200;
}
#To-do{
    background-color: #EFE5FE;
    color: #AB30E5;
}
.status{
    width: 100%;
}
.notify-btn{
    background-color: transparent; 
    border: none; 
    left: 80%; 
    top: 1%;
    position: fixed;
}
.notify-btn svg{
    transition: 0.3s;
}
.notify-btn:hover svg{
    transform: scale(1.2);
}
.edit-btn{
    margin: 0;
    padding: 0;;
    background-color: transparent;
    border: none;
}
.edit-btn img{
    transition: 0.3s;
}
.edit-btn:hover img{
    transform: scale(1.2);
}
.delete-btn{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}
.delete-btn img{
    transition: 0.3s;
}
.delete-btn:hover img{
    transform: scale(1.2);
}

.popup-notify{
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: white;
    border: solid black 0.5px;
    top: 0%;
    transform: translate(-50%, -50%) scale(0.1);
    left: 50%;
    z-index: 10;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
}
.open-notify{
    visibility: visible;
    top: 30%;
    transform: translate(-50%, -50%) scale(1);
}
.popup-head{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    display: flex;
    border-bottom: solid black 0.5px;
    margin-left: 5%;
}

.popup-head img{
    width: 36px;
    height: 36px;
    /* margin-right: 50%; */
}

.popup-head button{
    background-color: transparent;    
    border: black solid 1px;    
    width: 30px;
    height: 30px;
    /* margin-left: 50%; */
    position: absolute;
    left: 90%;
}

.popup-body{
    width: 80%;
    margin-left: 5%;
}

.popup-body .notify-content{
    display: flex;
    border-bottom: gray solid 0.3px;
    margin-bottom: 2%;
}

.popup-body .notify-content .notify-img{
    border-radius: 50%;
    background-color: rgb(68, 162, 149);
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: large;
    width: 28px;
    height: 28px;
    margin-right: 1%;
}