body {
    margin: 0;
    background-color: #C0D0EF;
}

.w3-sidebar {
    background-color: #C0D0EF;
    width: 15%;
}

.w3-container {
    background-color: #C0D0EF;
    height: 100%;
    padding: 0;
    margin-left: 15%;
    width: 100%;
}

html {
    background-color: #C0D0EF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #304A6E;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #dfdfdf;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

li a.active {
    color: white;
}

.logo_contain img {
    position: relative;
    width: 100%;
    height: 60%;
    top: 25%;
    left: 0%;
    margin-bottom: 5%;
}

.logo_contain {
    background-color: #304A6E;
}

li a:hover:not(.active) {
    color: white;
    text-decoration: none;
}

.nav-items {
    display: flex;
    width: auto;
    margin: 0;
    /* margin-left: 20%; */
    /* margin-right: 10%; */
    margin-bottom: 5%;
    margin-right: 10px;
    margin-left: 20px;
}

.nav-items img {
    left: 0%;
}

.header {
    display: flex;
    margin-top: 0%;
    position: relative;
}

.add-task-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: large;
    color: rgb(77, 75, 75);
    left: 18%;
    position: absolute;
}

.add-task-btn:hover {
    color: black;
    text-decoration: underline;
    transition-duration: 200ms;
}

.profile {
    background-color: transparent;
    border: none;
    left: 85%;
    position: fixed;
    display: flex;
}

.profile-img {
    border-radius: 50%;
    background-color: rgb(68, 162, 149);
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: x-large;
    width: 36px;
    height: 36px;
    margin-top: 5%;
}

.profile-user {
    font-size: large;
    margin: 0;
}

.profile-email {
    font-size: medium;
    margin: 0;
}

.profile-content {
    margin-left: 2%;
}

.dropdown {
    /* margin-right: 35%; */
    position: fixed;
    left: 60%;
}

#scheduler {
    width: 85%;
    height: 600px;
    margin-top: 10%;
    margin-bottom: 1%;
    left: 15%;
    position: absolute;
}

#dropdownMenuButton {
    background-color: #668DC0;
    color: black;
    width: 100px;
}

.project-title {
    position: relative;
    left: 5%;
}

.member-title {
    position: relative;
    left: 5%;
    margin-top: 3%;
}

.notify-btn {
    background-color: transparent;
    border: none;
    left: 80%;
    top: 1%;
    position: fixed;
    z-index: 1;
}

.notify-btn svg {
    transition: 0.3s;
}

.notify-btn:hover svg {
    transform: scale(1.2);
}

.edit-btn {
    margin: 0;
    padding: 0;
    ;
    background-color: transparent;
    border: none;
}

.edit-btn img {
    transition: 0.3s;
}

.edit-btn:hover img {
    transform: scale(1.2);
}

.delete-btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.delete-btn img {
    transition: 0.3s;
}

.delete-btn:hover img {
    transform: scale(1.2);
}

.popup-notify {
    position: absolute;
    width: 400px;
    height: auto;
    background-color: white;
    border: solid black 0.5px;
    top: 0%;
    transform: translate(-50%, -50%) scale(0.1);
    left: 50%;
    z-index: 10;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
}

.open-notify {
    visibility: visible;
    top: 30%;
    transform: translate(-50%, -50%) scale(1);
}

.popup-head {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    display: flex;
    border-bottom: solid black 0.5px;
    margin-left: 5%;
}

.popup-head img {
    width: 36px;
    height: 36px;
    /* margin-right: 50%; */
}

.popup-head button {
    background-color: transparent;
    border: black solid 1px;
    width: 30px;
    height: 30px;
    /* margin-left: 50%; */
    position: absolute;
    left: 90%;
}

.popup-body {
    width: 80%;
    height: auto;
    margin-left: 5%;
}

.popup-body .notify-content {
    display: flex;
    border-bottom: gray solid 0.3px;
    margin-bottom: 2%;
}

.popup-body .notify-content .notify-img {
    border-radius: 50%;
    background-color: rgb(68, 162, 149);
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: large;
    width: 28px;
    height: 28px;
    margin-right: 1%;
}

.member-title {
    position: relative;
}

.functional-btn {
    position: relative;
    display: flex;
    left: 5%;
}

.functional-btn .search {
    width: 30%;
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 20%;
}

#add-member-btn {
    margin-left: 1%;
    background-color: #668DC0;
    color: black;
    font-size: 15px;
    height: 50%;
    margin-top: 0.5%;
}

#share-by-link-btn {
    margin-left: 1%;
    background-color: #668DC0;
    color: black;
    font-size: 15px;
    height: 50%;
    margin-top: 0.5%;
}

.member-list {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    left: 10%;
    width: 100%;
    height: 500px;
    margin-top: 3%;
}

.member {
    position: relative;
    display: flex;
    background-color: white;
    width: 50%;
    height: 10%;
    margin-bottom: 3%;
    border-radius: 15px;
}

.member .mem-name {
    position: relative;
    margin: 0;
    top: 30%;
    text-decoration: black;
    font-size: large;
}

.member .mem-role {
    position: relative;
    font-size: large;
    top: 30%;
    margin: 0;
    margin-left: 10%;
}

#mem-tag {
    position: relative;
    top: 20%;
    margin: 0;
    margin-right: 5%;
    margin-left: 3%;
}

#remove-member-btn {
    width: 15%;
    position: relative;
    left: 65%;
    font-size: 100%;
}

.popup-add-mem {
    position: absolute;
    width: 600px;
    height: 180px;
    background-color: white;
    border: solid black 0.5px;
    top: 40%;
    transform: translate(-50%, -50%) scale(0.1);
    left: 0%;
    z-index: 20;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
}

.open-add-mem {
    visibility: visible;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* .popup-add-mem form input[type=text] {
    position: relative;
    left: 5%;
    width: 77%;
    margin: 0;
    font-size: medium;
    padding: 4% 0 1% 2%;
    background-color: #F5F5F5;
    color: #5e6269;
    border: none;
    border-bottom: 1px solid #4f6480;
    /* font-size: 1.5vw; */
/* } */ */
.popup-add-mem .invite-member input[type=text] {
    position: absolute;
    left: 5%;
    top: 50%;
    width: 80%;
    margin: 0;
    font-size: medium;
    padding: 4% 0 1% 2%;
    background-color: #F5F5F5;
    color: #5e6269;
    border: none;
    border-bottom: 1px solid #4f6480;
    /* font-size: 1.5vw; */
}
.popup-add-mem .invite-member{
    display: flex;
}
/* #invite-input {
    position: relative;
    left: 5%;
    width: 77%;
    margin: 0;
    font-size: medium;
    padding: 4% 0 1% 2%;
    background-color: #F5F5F5;
    color: #5e6269;
    border: none;
    border-bottom: 1px solid #4f6480;
    /* font-size: 1.5vw; */
/* } */ */
.header input {
    position: relative;
    width: 40%;
    margin: 1% 0% 1% 0%;
    /* left: 15%; */
    float: left;
}

/* .popup-add-mem form label {
    position: absolute;
    left: 5%;
    margin: 0;
    padding: 0;
    font-size: large;
} */

#invite-label {
    position: relative;
    left: 5%;
    margin: 0;
    padding: 0;
    font-size: large;
}

#invite-btn-1 {
    background-color: transparent;
    border: 0;
    position: absolute;
    left: 85%;
    top: 50%;
}
#invite-btn-2 {
    background-color: transparent;
    border: 0;
    position: absolute;
    left: 85%;
    top: 45%;
}

#invite-btn img:hover {
    transform: scale(1.1);
    transition: 200ms;
}


.popup-share {
    position: absolute;
    width: 600px;
    height: 180px;
    background-color: white;
    border: solid black 0.5px;
    top: 40%;
    transform: translate(-50%, -50%) scale(0.1);
    left: 0%;
    z-index: 20;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
}

.open-share {
    visibility: visible;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup-share form input[type=text] {
    position: relative;
    left: 5%;
    width: 77%;
    margin: 0;
    font-size: medium;
    padding: 4% 0 1% 2%;
    background-color: #F5F5F5;
    color: #5e6269;
    border: none;
    border-bottom: 1px solid #4f6480;
    /* font-size: 1.5vw; */
}

.header input {
    position: relative;
    width: 40%;
    margin: 1% 0% 1% 0%;
    /* left: 15%; */
    float: left;
}

.popup-share form label {
    position: absolute;
    left: 5%;
    margin: 0;
    padding: 0;
    font-size: large;
}

#invite-btn-1 {
    background-color: transparent;
    border: 0;
    position: absolute;
    left: 85%;
    top: 45%;
}

#invite-btn-1 img:hover {
    transform: scale(1.1);
    transition: 200ms;
}


#invite-btn-2 {
    background-color: transparent;
    border: 0;
    position: absolute;
    left: 85%;
    top: 45%;
}

#invite-btn-2 img:hover {
    transform: scale(1.1);
    transition: 200ms;
}